* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: Inter;
}

.container {
  width: 375px;
  margin: 0 auto;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin: 0 28px 0 24px;
  color: #28352f;
} 

header p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

header img {
  width: 18px;
  height: 12px;
}

/* First section - introduction */
.introduction {
  background: url('images/header-illsutration-mobile.svg');
  display: flex;
  flex-direction: column;
  flex-basis: 327px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.peramble {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-top: 59px;
}

#name {
  color:#172b4d ;
}

#profession {
  color: #36b37e;
}

.details {
  margin: 42px 24px 60px 24px;
  color: #172b4d;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.social {
  background-image: url('images/bottom/Frame.svg');
  background-repeat: no-repeat;
  position: relative;
  background-position: right;
  height: 189px;
}

.social ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 102px 62px 102px;
}

.social ul li {
  list-style: none;
}

div #scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  margin: 0 auto 22px auto;
}

/* Deatiled information about me and my works */
.more-information {
  display: grid;
}
/* My recent works */
.recent-works {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recent-works p {
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 24px;
}

.recent-works #indicator {
  align-self: center;
  margin-bottom: 62px;
}

.stories {
  width: 327px;
  height: 474px;
  margin: 0 auto;
  background: #ebf0ee;
  border-radius: 8px;
  margin-bottom: 24px;
}

.top {
  height: 252px;
}

.bottom {
  width: 327px;
  height: 222px;
  background:#fff;
  border: 1px solid #ebf0ee;
  border-radius: 8px;
}

.bottom p {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px;
}

.bottom ul {
  display: flex;
  justify-content: space-between;
  margin: 0 11px 36px 11px;
} 

.bottom ul li {
  list-style: none;
}

.bottom ul a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.bottom .see-project {
  display: flex;
  justify-content: center;
}

.see-project a {
  text-decoration: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background: #36b37f;
  color: #fff;
  padding: 12px;
}
