* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: Inter;
}

.container {
  width: 375px;
  margin: 0 auto;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin: 0 28px 0 24px;
  color: #28352f;
} 

header p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

header img {
  width: 18px;
  height: 12px;
}

